*.gz
*.html
*.log
*.sql
*.txt
*.xml
*.zip

/backups/
/vendor/

/app/tmp/*
!/app/tmp/.gitkeep

/assets/public/*
!/assets/public/.gitkeep

/assets/private/*
!/assets/private/.gitkeep
!/assets/private/.htaccess

axis.php
app/config.php
app/web.php
